.file-manager-container {
    position: absolute;
    display: inline-block;
    top: 0px;
    left: 0px;
    bottom: 0px;   
    right: 0px; 
    background-color: #cfd8dc;
}

.file-manager-container .navigation-area {
    padding-top: 2px;
}

.file-manager-container .back-path-button, .file-manager-container input[type="text"] {
    width: 100%;  
    height: 25px;
    outline: none;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.file-manager-container input[type="text"] {     
    font-size: large;       
    padding-left: 10px;
}

.file-manager-container .back-path-button {
    padding: 2px 0px 0px 0px;    
}

.file-manager-container .file-area {
    position: absolute;
    top: 30px;
    left: 0px;
    right: 0px;
    bottom: 30%;
    background-color: #ecf1f3;
    overflow-y: auto;
}

.file-manager-container .file-table{
    position: relative;
    display: block;
    padding: 10px;
}

.file-manager-container .file-table a{
    text-align: left;
}

.file-manager-container .upload-area {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 70%;
    text-align: center;  
}

.file-manager-container .upload-area .upload-form{
    margin-top: 3%;
}

.file-manager-container .upload-area .esito {
    margin-left: 5%;
    color: green;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.file-manager-container .upload-area .progress-bar-container {
    display: none;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
}

.file-manager-container .upload-area .progress-bar-container .progress-bar {
    width: 100%;
    background-color:#b0bec5;
  }
  
.file-manager-container .upload-area .progress-bar-container .progress {
    width: 1%;
    height: 20px;
    background-color: #43a047;
  }

.file-manager-container .delete-file {
    display: inline-block;
    background-color: #b71c1c ;
    fill: #e0e0e0;
    text-align: center;
    border-radius: 5px;
    min-width: 40px;
}

.file-manager-container .delete-file:hover {
    background-color: #f05545 ;
}